.text-center {
    text-align: center;
}

#bell {
    height: 5rem;
    width: 5rem;
    outline: none;
    border: none;

    background-color: transparent;
    background-image: url('dreamCatcher.svg');
    background-repeat: no-repeat;
    background-size:100%;

    animation: roll 5s linear infinite;
    /* transition: height 1s, width 1s; */

}

#bell:hover {
    /* height: 10rem; */
    /* width: 10rem; */
    animation: roll 3s linear infinite;
}

@keyframes roll {
    from{
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.page-bottom {
    position: fixed;
    bottom: 0;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-200 {
    margin-top: 200px;
}

.btn {
    padding: .25rem;
    font-size: 1rem;
    margin: 1rem;
}

.btn-p {
    border: none;
    outline: none;

    background-color: transparent;
    color: black;
}

.btn-p:hover {
    border: none;
    outline: none;

    background-color: black;
    color: white;
}