.hip-1 {
    position: relative;
    animation: hip 2s ease infinite;
}

.hip-2 {
    position: relative;
    animation: hip 2s ease 0.2s infinite;
}

.hip-3 {
    position: relative;
    animation: hip 2s ease 0.4s infinite;
}

@keyframes hip {
    0% {
        top: 0;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0;
    }
}