

#blog hr {
    border: 2px solid;
}

#blog ul,ol {
    padding-left: 2rem;
}

#blog p>code, #blog pre {

    border: none;
    border-radius: 3px;
    padding: 10px;
}

#blog p>code, #blog pre>code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

#blog pre{
    overflow: auto;
    word-wrap: normal;
}
#blog pre>code {
    white-space: pre;
}

#blog a {
    text-decoration: none;
}

#blog blockquote {
    border: 1px solid;
    border-left: 5px solid;
    border-radius: 3px;

    padding-left: 1rem;
    margin: 10px;
}