#blog {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;

    padding: 16px;
}

/* Margin */
#blog blockquote,
#blog details,
#blog dl,
#blog ol,
#blog p,
#blog pre,
#blog table,
#blog ul {
    margin-top: 0;
    margin-bottom: 16px;
}

#blog h1, #blog h2 {
    /*padding-bottom: .3em;*/
    /*line-height: 1.3;*/
    border-bottom: 1px solid;
}

#blog h1 {
    font-size: 2em;
}
#blog h2 {
    font-size: 1.5em;
}
#blog h3 {
    font-size: 1.25em;
}
#blog h4 {
    font-size: 1em;
}
#blog h5 {
    font-size: .875em;
}
#blog h6 {
    font-size: .85em;
}

/* List */
#blog ol, #blog ul {
    padding-left: 2em;
}

#blog hr {
    border: none;
    border-bottom: 1px solid;
}

#blog p>code, #blog pre {

    border: none;
    border-radius: 3px;
    padding: 10px;
}

#blog p>code, #blog pre>code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

#blog pre{
    overflow: auto;
    word-wrap: normal;
}
#blog pre>code {
    white-space: pre;
}

#blog a {
    text-decoration: none;
}

#blog blockquote {
    border: 1px solid;
    border-left: 5px solid;
    border-radius: 3px;

    padding-left: 1rem;
    margin: 10px;
}
