#blog h1,#blog h2,#blog h3,#blog h4,#blog h5,#blog h6,#blog p,#blog ul,#blog ol {
    color: salmon;
}

#blog hr {
    border: 2px solid salmon;
}

#blog ul,ol {
    padding-left: 2rem;
}

#blog p>code, #blog pre {
    color: salmon;
    background-color: mistyrose;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

#blog p>code, #blog pre>code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

#blog a {
    color: darkseagreen;
    text-decoration: none;
}

#blog blockquote {
    background-color: mistyrose;

    border: 1px solid salmon;
    border-left: 5px solid salmon;
    border-radius: 3px;

    padding-left: 1rem;
    margin: 10px;
}