.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.overflow-hidden {
    overflow: hidden;
}

.roll-inf {
    animation: roll 5s infinite linear;
}

@keyframes roll {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.logo {
    width: 150px;
    height: 150px;
}