#claw {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 64px;
    height: 64px;
}

.sidebar {
    position: fixed;
    left: 0;

    width: 200px;
    height: 100vh;

    display: none;
    flex-direction: column;

    overflow: hidden;
    box-sizing: border-box;

    flex-grow: 0;

    user-select: none;

}

#blog {
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 100vh;

    margin-left: 200px;

    padding-left: 1rem;
    padding-right: 1rem;

    flex-grow: 1;

    max-width: 1012px;

}

.sidebar-header {
    flex-grow: 0;
}

.sidebar-body {
    flex-grow: 1;
}

.sidebar-footer {
    flex-grow: 0;
}

ul.sidebar-list {
    margin-top: 2rem;
    width: 100%;
    padding: 0;
    text-align: center;
}
ul.sidebar-list > li {
    list-style: none;
    padding: 1rem;
}
