

.bg-1 {
     background-color: salmon;
 }

.bg-2 {
    background-color: lightsalmon;
}

.bg-3 {
    background-color: white;
}

.bg2-hover {
    color: white;
    background-color: lightsalmon;
    cursor: pointer;
}

.bg2-hover:hover {
    background-color: white;
    color: lightsalmon
}
